.games_page{
    color: white;
}
.arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.carrossel_wrapper{
    overflow-x: auto;
    overflow: hidden;
    
}
#carrossel{
    display: flex;
    transition: transform 500ms ease-in-out;
    transform: translateX(0);
}
.game_card{
    min-width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}
.game_desc{
    width: 40%;
    margin: 0 20px;
    color: white;
    display: none;
    font-weight: 300;
    padding: auto;

}
.game_desc_mobile{
    font-weight: 300;
    margin-bottom: 1rem;
}
.game_flag{
    z-index: 1;
    position: absolute;
    bottom: 0px;
    padding: 40px 0 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}
.game_icon{
    max-width: 100px;
    max-height: 100px;
}
.game_titulo{
    margin: 1rem;
    font-family: var(--roboto);
    font-size: 2rem;
}
.game_img{
    object-fit: cover;
    z-index: 0;
    display: inline-block;
    width: 100vw;
    opacity: 50%;
}
@media screen and (min-width:768px){
    .game_img{
        width: 100%;
    }

    .game_desc{
        display: block;
    }
    .game_desc_mobile{
        display: none;
    }
    
}

@media screen and (min-width:1024px) {
    .games_page{
        padding-top:70px ;
    }
    .game_desc{
        font-size: 1.5rem;
    }
    .game_img{
        opacity: 100%;
    }
}