.games_page{
    padding-top: 75px;
    color: white;
}
#carrossel{
    display: flex;
    transition: transform 500ms ease-in-out;
    transform: translateX(0);
}
.game_card{
    min-width: 100vw;
    max-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.game_desc{
    width: 60%;
    color: white;
    display: none;
    font-weight: 300;
    /* margin-bottom: 1rem; */
}
.game_desc_mobile{
    font-weight: 300;
    margin-bottom: 1rem;
}
.game_flag{
    z-index: 1;
    position: absolute;
    margin: auto 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.game_icon{
    max-width: 100px;
}
.game_titulo{
    margin: 1rem;
    font-family: var(--roboto);
    font-size: 2rem;
}
.game_img{
    object-fit: cover;
    z-index: 0;
    display: inline-block;
    width: 100vw;
    opacity: 30%;
}
@media screen and (min-width:768px){

    .game_img{
        width: 100%;
    }
    /* .game_icon{
        display: inline;
        width: 15%;
    } */
    .game_flag{
        margin-top: 2rem;
    }
    .game_desc{
        display: block;
    }
    .game_desc_mobile{
        display: none;
    }
    
}

@media screen and (min-width:1024px) {
    /* .games_page{
        padding-top:70px ;
    } */
    .game_desc{
        font-size: 1.5rem;
    }
    .game_img{
        opacity: 100%;
    }
    /* .game_flag{
        position: relative;
        margin: auto 0;
        width: 70%;
    } */
}