.logo_e_texto{
    flex-direction: row;
    display: flex;
    align-items: center;
}
.container{
    padding-left: 6%;
    padding-right: 6%;
}

.cabecalho{
    width: 100%;
    display: flex;
    background-color: var(--cinza-pao);

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    box-sizing: border-box;
    box-shadow: 5px 0px 10px 5px rgba(0,0,0,0.3);
}
.cabecalho_titulo{
    font-family: var(--roboto);
    padding-top: 1rem;
    margin-left: 1rem;
    display: inline;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--amarelo-forte);
}

.logo{
    max-width: 70px;
    display: block;
}

.navegacao{
    text-align: center;
}
.navegacao_lista{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.navegacao_item{
    padding: auto 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    margin:0.5rem 1rem;
    color: var(--amarelo-forte);
    transition: all 100ms;
}
.navegacao_item:hover{
    transform: scale(120%);
    color: var(--branco);
    text-decoration: double;
}
@media screen and (min-width:1024px){
    .logo_e_texto{
        flex-direction: row;
    }
    .navegacao{
        margin: auto;
        margin-right: 0;
    }
    .logo{
        height: 60%;
        display: inline-block;
    }
    .cabecalho_titulo{
        vertical-align: 100%;
        font-size: 2.5rem;
    }
    .cabecalho{
        position:fixed;
        z-index: 3;
    }
}